<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.2/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  
    <style>
        .reset-link {
            margin-top: 10px;
            display: none;
        }
        .chart-container {
            padding: 20px;
        }
    </style>
</head>
    <body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <h1 class="navbar-item title is-4">Dashboard</h1>
        </div>
    </nav>

    <BR>
    <a href="/" class="button is-primary"><- Back</a>

    <div class="container">
        <div id="filters-summary" class="content">
            <h3>Active filters:</h3>
            <ul id="filters-list"></ul>
        </div>
    </div>

    <div class="container">
        <button id="reset-all" class="button is-primary">Reset All Filters</button>
    </div>


    <div class="section">
        <div class="container" id="charts-container">
            <!-- Los gráficos se generarán dinámicamente aquí -->
            
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div id="data-table">
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            var config = JSON.parse(localStorage.getItem('dashboardConfig'));
            
            if (config) {
                initializeDashboard(config); 
            }

            updateFiltersSummary();
        };
    </script>
    <script src="js/genericCross.js"></script> 
    </body>
</html>
